.pet-card {
    background: linear-gradient(135deg, #43cea2, #185a9d);
    border-radius: 15px;
    text-align: center;
    color: white;
    &__header {
        height: 130px;
        text-align: center;
        &__image {
            height: 130px;
        }
    }
    &__content {
        height: 65px;
        & span {
            width: 100%;
            display: block;
        }
        &__name {
            font-size: 30px;
        }
    }
}